<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <header>
        <a href="/">요즘뭐해?</a>
        <p>강민지</p>
        <a href="#">원데이 모임</a>
        <a href="#">정기 모임</a>
        <p>정지윤</p>
        <a href="/login">로그인</a>
        <a href="/join">회원가입</a>
        <p>조성호</p>
        <a href="/manager">관리자 페이지</a>
        <a href="#">고객센터</a>
        <p>공통</p>
        <a href="#">나의모임</a>
    </header>
    <section ></section>
    <footer></footer>
</body>
</html>