<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메니저 페이지</title>
</head>
<body>
    <header>
        상단메뉴
    </header>
    <section>
        <h2>관리자 페이지</h2>
        <hr>
    </section>
    <section>
        <ul>
            <li><a href="#">관리자 계정 관리</a></li> <!-- 관리자 개인 정보 수정 -->
            <li><a href="/manager/memberList">회원 관리</a></li> <!-- 회원 정보 수정 및 삭제 -->
            <li><a href="#">모임 관리</a></li> <!-- 모임 정보 수정 및 삭제 -->
            <li>
                <a href="#">키워드 관리</a> <!-- 키워드 수정 및 삭제 -->
            </li>
            <li><a href="#">고객 문의 관리</a></li> <!-- 고객 문의 답장 및 Q&A 관리-->
            <li><a href="#">공지 사항 관리</a></li> <!-- 공지 사항 게시 및 수정 등 삭제 -->
            <li><a href="#"></a></li>
        </ul>
    </section>
</body>
</html>