<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 조회 페이지</title>
    <link href="/modalWindow.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>회원 조회 페이지</h1>

<table>
    <tr>
        <th>회원 ID</th>
        <th>닉네임</th>
        <th>가입 날짜</th>
        <th>권한</th>
    </tr>
    <tr th:each="member : ${memberList}">
        <td th:text="${member.userId}">1</td>
        <td th:text="${member.nickName}">홍길동</td>
        <td th:text="${member.signDate}">가입 날짜</td>
        <td th:text="${member.userAdmin}">0</td>
        <td>
            <button th:onclick="|location.href='@{memberEdit(userid=${member.userId})}'|" style="cursor: pointer;">수정
            </button>
            <button type="button" th:attr="data-userid=${member.userId}" onclick="deleteMember(this.getAttribute('data-userid'))" style="cursor: pointer;">삭제</button>
            <input type="hidden" name="userid" value="${member.userId}">
        </td>
    </tr>
    <tr th:unless="${not #lists.isEmpty(memberList)}">
        <td colspan="7">등록된 회원의 정보가 없습니다.</td>
    </tr>
</table>

<div id="modalContainer" class="hidden">
    <div id="modalContent">
        <p style="color: red; font-size: 24px; text-align: center;">정말 삭제하시겠습니까?</p>
        <button onclick="confirmDelete()">네</button>
        <button id="modalCloseButton" onclick="cancelDelete()">아니요</button>
        <input type="hidden" id="deleteUserId" name="userid" value="">
    </div>
</div>
<script type="text/javascript">

    function editMember(event) {
        // 수정 페이지로 이동하는 이벤트
        let userId = event.target.parentNode.parentNode.childNodes[1].innerHTML;
        console.log(userId); // userId 출력 (디버깅용)
        window.location = 'memberEdit/' + userId;
    }

    const modal = document.getElementById('modalContainer');
    const modalCloseButton = document.getElementById('modalCloseButton');
    const deleteUserId = document.getElementById('deleteUserId');

   function deleteMember(userId) {
        // 삭제 버튼 클릭 시 모달 열기
        modal.classList.remove('hidden'); // 모달창 오픈
        var deleteUserId = document.getElementById('deleteUserId');
        deleteUserId.value = userId; // 삭제할 아이디 저장
    }

    function confirmDelete() {
        // "네" 버튼 클릭 시 삭제 로직 수행
        var deleteUserId = document.getElementById('deleteUserId');
        var userId = deleteUserId.value;
        if (userId) {
            window.location = 'delete/' + userId;
        }
    }

    function cancelDelete() {
        // "아니요" 버튼 클릭 시 모달 닫기
        modal.classList.add('hidden');
    }
</script>
</body>
</html>